

* {
    box-sizing: border-box;
}


.payment {
    border: solid black 1px;
    margin-bottom: 20px;
    padding: 10px;
    max-height: 100%;
}

.nav-title {
    margin: 0;
    margin-left: 10px;
}

.nav-wrapper {
    text-align: center;
}

.page-title {
    text-align: center;
}

.card-links a {
    color: blue !important;
}

.delete-payment:hover {
    cursor: pointer;
}

.update-details-button {
    cursor: pointer;
}

.payment-creation-form {
    border: solid darkblue 1px;
    padding: 15px !important;
    border-radius: 25px;
}

.payment-creation-form .input-field {
    margin: 0;
    margin-bottom: 10px !important;
}

.payment-creation-form legend {
    margin-bottom: 20px;
    font-weight: bold;
}

.payment-update-form input {
    margin: 0;
    max-height: 30px;
}

.payment-update-form .row {
    margin: 0;
}

.payment-update-form .input-field {
    margin: 0;
}

.card-reveal-title {
    font-size: 12pt !important;
    font-weight: bold !important;
    margin-bottom: 5px;
}

.pay-update-button {
    margin-top: 5px !important;
}

.nav-title {
    padding-top: 15px !important;
}