
<% include ../partials/header %>

<div class="container">

    <div class="jumbotron text-center">
        <h1 class="page-title"><span class="fa fa-lock"></span>Payment Tracker</h1>

        <p class="center-align">Login or Create an Account:</p>
        <div class="center-align">
            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
        </div>
    </div>

</div>
</body>
</html>